/* style.css */



body {
    margin: 0;
    overflow: hidden;
    background-color: #222738;
}
nav {
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}